<div class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio error
      voluptate culpa architecto, est sint maxime quibusdam dicta dolorem
      delectus eveniet labore provident molestias eos sed expedita soluta, quae
      quos?</p>
  </div>
</div>