<div class="jumbotron mt-4">
  <h1 class="display-4">Notes App</h1>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur</p>
  <hr class="mt-4" />
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat
    reprehenderit nemo quam, laudantium cumque dignissimos? Nisi magnam libero
    culpa quisquam. Officiis eum ducimus obcaecati dignissimos reprehenderit
    aliquid asperiores iure et.</p>
   <a href="/" class="btn btn-primary btn-lg">Marc Medrano</a>
</div>